body {
    height: 100%;
    overflow-x: auto; /* Prevent horizontal scrolling */
    font-family: "Space Mono", "Courier New", monospace;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 5px;
    width: 100%;
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px;

}

.header-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%; /* Square image */
}

.nav-links {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* Allow wrapping to create a new row */
    width: 100%;
}

.nav-links a {
    font-size: 23px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: #693aa3; /* Add color change on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.center-title {
    flex-grow: 1;
    text-align: center;
}

.nav-links-notmain {
    position: absolute;
    left: 20px; 
}

.nav-links-notmain a {
    font-size: 23px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links-notmain a:hover {
    color: #693aa3; /* Add color change on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.contact-links {
    padding: 20px;
    text-align: center;
}

.contact-links a {
    font-size: 18px;
    color: #44256a;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-links a:hover {
    color: #9557e1;
}

.contact-links p {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: black;
}

h1 {
    font-size: 27px;
    color: black;
    margin: 0;
}

/* Responsive Design */

/* On mobile screens, two rows for navigation links */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column; 
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-container img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px; 
    }

    .nav-links {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .nav-links a {
        font-size: 20px;
        flex: 1 1 45%; /* Allow the links to take up equal space */
        text-align: center;
    }
}

/* On very small screens (max-width: 480px), stack the links */
@media (max-width: 480px) {
    .header-container img {
        width: 80px;
        height: 80px;
    }

    .nav-links a {
        font-size: 20px;
    }

    .contact-links a {
        font-size: 18px;
    }

    .contact-links p {
        font-size: 18px;
    }
    
}